.agile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.agile-overview {
  text-align: center;
  padding-bottom: 1.5rem;
}

.agile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  text-align: center;
}

.agile-box-header {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #4b0280;
  padding: 0.5rem 0;
}

.agile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 5rem;
}

.agile-image img {
  height: 100%;
}
