:root {
  --main-bg-color: #d7dce0;
  --main-max-width: 800px;
}

#root {
  display: flex;
  justify-content: center;
  background-color: var(--main-bg-color);
}

.app-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  max-width: var(--main-max-width);
  padding: 0 1rem;
}

.hero-text-background {
  background: url('./background.jpg');
  background-size: cover;
  position: absolute;
  opacity: 0.7;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero-text-background-fade {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #d7dce0);
}

.contact-cta {
  background-color: #4b0280;
  font-family: 'Fugaz One', sans-serif;
  text-transform: uppercase;
  width: 50%;
  padding: 1rem;
  color: #d7dce0;
  font-size: 1.2rem;
  margin: 1rem 0;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.homepage-slogan {
  color: #4b0280;
  font-size: 2.5rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.slogan-line {
  font-family: 'Fugaz One', sans-serif;
  font-weight: 700;
}

.platforms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.section-header {
  text-align: center;
  font-family: 'Fugaz One', sans-serif;
  font-size: 1.7rem;
  color: #4b0280;
  padding: 1.5rem 0;
  text-transform: uppercase;
}

.platform-box {
  border-radius: 4px;
  padding: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f0f5fa;
  box-shadow: 0 0 5px #ccc;
  margin: 1rem 0;
}

.platform-title {
  text-align: center;
  width: 100%;
  color: #4b0280;
  font-family: 'Fugaz One', sans-serif;
  padding: 0.8rem;
}

.platform-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 5rem;
}

.platform-image img {
  height: 100%;
}

.platform-text {
  font-family: 'Roboto', sans-serif;
  width: 45%;
  font-size: 0.8rem;
}
