.contact-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 3rem;
}

.form-short-answer {
  margin: 1rem 0;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
}

.form-short-answer:focus {
  outline: 2px solid #4b0280;
}

.form-long-answer {
  height: 5rem;
  margin: 1rem 0;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
}

.form-long-answer:focus {
  outline: 2px solid #4b0280;
}

.form-submit {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  width: 80%;
  height: 4rem;
  background-color: #4b0280;
  color: white;
  margin: 2rem;
  border: none;
  border-radius: 4px;
}

.form-error {
  color: red;
  font-size: 0.9rem;
  align-self: flex-start;
}

.form-copy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-copy-header {
  font-size: 1.5rem;
}

.form-copy {
  width: 70%;
  font-size: 0.9rem;
}
