.navbar-container {
  width: 100%;
  height: 9vh;
  background: #d7dce0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  min-height: 40px;
  z-index: 100;
}

.navbar-content {
  color: #4b0280;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.navbar-logo {
  color: #4b0280;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  cursor: pointer;
}

